:root {
    --demo-player-scale: 1.8;
    --demo-player-width: calc(29px * var(--demo-player-scale));
    --demo-player-height: calc(51px * var(--demo-player-scale));
    
}

.demoContainer {
    margin: auto;
    width: 98vw;
    height: calc(55.125vw);

    background-image: url("Assets/Images/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.demoPlayer {
    position: absolute;
    top: 1000px;
    left: 100px;
    width: var(--demo-player-width);
    height: var(--demo-player-height);
    z-index: 0;
    

    /* background-color: bisque; */
    background-image: url("Assets/Images/Mage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

