:root {
    --demo-player-scale: 11vw;
    --demo-player-width: calc(0.29 * var(--demo-player-scale));
    --demo-player-height: calc(0.51 * var(--demo-player-scale));
    --wasd-scale: 3;
}

.demoContainer {
    height: 50vw;

}

.demoBackground {
    position: relative;
    top: calc(var(--divider-height) * -1);
    width: 100%;
    height: 100%;
    margin: auto;

    display: flex;
    justify-content: stretch;
    align-items: stretch;
    /* border: 1px pink dashed; */
}

.demoBackground > div {
    position: relative;
    flex-grow: 1;
    border-right: 2px green solid;
    box-sizing: border-box;

    background-image: url("Assets/Images/SquareRoomWHall.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.demoRight {
    transform: scaleX(-1);
}


.demoBackground > div > div {
    height: calc(var(--wasd-scale) * 2vw);
    width: calc(var(--wasd-scale) * 3vw);

    z-index: 999;

    
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: blanchedalmond; */
}

.wasd {
    position: absolute;
    bottom: 2vw;
    left: 2vw;
    background-image: url("Assets/Images/wasd.png");
}

.arrows {
    transform: scaleX(1);
    position: absolute;
    bottom: 2vw;
    left: 2vw;
    background-image: url("Assets/Images/arrows.png");
    /* border: 1px green solid; */
}

.demoPlayer1, .demoPlayer2 {
    position: absolute;
    top: 3000px;
    left: 100px;
    width: var(--demo-player-width);
    height: var(--demo-player-height);
    z-index: 1;
    

    /* background-color: bisque; */
    background-image: url("Assets/Images/Mage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.demoPlayer2 {
    top: 3000px;
    left: 90vw;
    z-index: 1;
    background-image: url("Assets/Images/Archer.png");
}







