body {
    padding: 0px;
    margin: 0px;
    font-family: font;
    font-size: 2vh;
    color: rgb(22, 22, 0);
    background-color: #120533;
}

h1 {
    color: green;
}

img {
    user-select: none;
}

@font-face {
    font-family: font;
    src: url(Assets/perfect_dos_vga_437/Perfect\ DOS\ VGA\ 437\ Win.ttf);
}

:root {
    --divider-height: 30px;
    --nav-height: 100px;
}

a {
    text-decoration: none;
    color: rgb(22, 22, 0);
}

/* ------------------- Classes ------------------- */

/* General */

.anchor {
    position: relative;
    top: calc(var(--nav-height) * -1);
}

.titleBar {
    height: 200px;
    padding: 50px;
    margin: 50px;

    background-color: #9198e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleText {
    font-size: 10vh;
    text-align: center;
}

.navbar {
    position: sticky;
    top: 0px;
    width: 100%;
    height: var(--nav-height);
    padding: 0;
    z-index: 10;

    /* background-color: rgb(252, 233, 66); */

    display: flex;
    justify-content: center;
    align-items: stretch;
}

.navbarElement {
    width: 25%;

    background: linear-gradient(155deg, rgb(252, 233, 66) 20%, rgb(253, 243, 147) 40% , rgb(247, 174, 19));
    border: 5px rgb(19, 8, 3) inset;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;

    transition: 0.2s ease-in-out;
}

.navbarElement:hover {
    background: linear-gradient(155deg, rgb(255, 239, 98) 20%, rgb(255, 246, 169) 40% , rgb(250, 188, 54));
    border: 5px rgb(48, 21, 8) inset;
}

.overviewContainer, .characterDescContainer {
    height: 400px;
    padding: 3vh 10vw;

    /* border: 5px rgb(70, 14, 0) double; */

    background-color: #6d77e0;
}

.overviewText, .characterDescText, .weaponsText {
    font-size: 6vh;
}

.titleLine, titleLineRight {
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, rgb(184, 133, 25), rgba(0, 0, 0, 0) 50%);
}

.titleLineRight {
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    float: right;
    background: linear-gradient(270deg, rgb(255, 91, 91) 20%, rgba(0, 0, 0, 0) 50%);
}

.gameplayContainer {
    height: 400px;
    padding: 3vh 10vw;
    color: rgb(253, 255, 138);

    /* border: 5px rgb(70, 14, 0) double; */
    background: linear-gradient(180deg, #120533 90%, #6d77e0 100%);
    background-color: #120533;
}

.gameplayText {
    font-size: 6vh;
}

/* Character */

.characterDescContainer {
    text-align: right;
}

.characterContainer {
    position: relative;
    width: auto;
    height: 30vh;
    padding-bottom: 10vh;

    background-image: url("Assets/Images/BrickWallBackground.png");
    background-size: contain;
    /* background-color: lightslategrey; */
    

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.characterImgContainer {
    position: relative;
    width: 16vw;
    height: 90%;
    padding: 10px;
    margin: 10px;

    background-size: contain;
    /* border:1px white solid; */
    /* background-color: rgb(74, 136, 107); */

    display: flex;
    justify-content: center;
}


.characterImg {
    transition: none;

    object-fit: contain;
}



/* Weapons */
.weaponContainer {
    width: auto;
    height: 50vh;

    background: linear-gradient(to right, rgb(8, 20, 5), rgb(8, 20, 5) 30vw, #9198e5 56vw, #9198e5);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.weaponImgOuterBox {
    position: relative;
    top: calc(var(--divider-height) * -1);
    width: auto;
    height: 100%;
    margin: none;
    padding: 0px 10vw 0px 10vw;
    

    /* border: 1px black solid; */
    /* background-color: rgb(8, 20, 5); */
    /* opacity: 50%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.weaponImgUpper, .weaponImgLower {
    display: flex;

}

.weaponImgContainer {
    width: 7vw;
    height: 7vw;
    border: 2px rgb(8, 20, 5) solid;

    background-image: url("Assets/Images/GoldenFrameWOuter.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.weaponImgContainer:hover {
    animation: weaponFrameHover 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

.weaponImg {
    max-width:100%;
    max-height:100%;
}

.weaponDesc {
    position: relative;
    top: calc(var(--divider-height) * -1);
    height: 80%;
    width: 40%;

    padding: 2vw;
    padding-left: 12vw;
    /* border: 1px pink solid; */
    /* background: linear-gradient(to right, rgb(8, 20, 5), rgb(8, 20, 5) 10vw, #9198e5 30%, #9198e5); */
}

.weaponDescText {
    width: 80%;
    /* text-overflow: clip; */
}

/* Divider */
.divider {
    position: relative;
    top: calc(var(--divider-height) / -2);
    height: var(--divider-height);
    width: 100%;
    z-index: 5;

    background-image: url("Assets/Images/divider.png");
    background-size: contain;
    
}


/* ---------------------- Id ---------------------- */
#archerImgContainer, #mageImgContainer {
    animation: characterAnimation 1.2s infinite step-end;
    animation-delay: 0.6s;
}

#bruteImgContainer, #rogueImgContainer {
    animation: characterAnimation 1.2s infinite step-end;
    animation-delay: 0s;
}



/* ------------------ Animations ------------------ */

@keyframes characterAnimation {
    0% {
        top: 5px;
        object-position: top 0px right 0px;
    }
    50% {
        top: 0px;
        object-position: top 5px right 0px;
    }
}

@keyframes weaponFrameHover {
    100% { background-image: url("Assets/Images/GoldenFrameWOuterHover.png"); }
}






